* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #333333, #000000);
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #FFFFFF;
}