* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #333333, #000000);
}

.sidebar {
    color: #FFFFFF;
    width: 250px;
    height: 100vh;
    background: #000000;
    border-right: solid 1px #333333;
    box-shadow: 10px 0px 25px #000000;
}

.profile-header {
    margin: 1rem 0 1rem 1rem;
    display: inline-block;
    padding-bottom: 1rem;
}

.profile-image {
    vertical-align: middle;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-name {
    float: left;
    line-height: 35px;
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 1.5rem;
}

.profile-subtitle {
    float: left;
    margin-left: 1.5rem;
    color: #3F3F3F;
    font-size: 1.1rem;
    text-align: center;
}

.profile-seperator {
    margin-left: 1rem;
    display: block;
    border: none;
    color: #FFFFFF;
    height: 1px;
    background: #000000;
    background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 350, from(#000000), to(#333333));
}